<header class="flex items-center justify-between gap-0 pt-1.5 pb-2 relative">
  <div
    class="bg-gradient-to-br from-blue-500 via-purple-500 to-rose-500 absolute w-full h-full blur-3xl opacity-20 z-0 dark:block hidden">
  </div>
  <div class="md:w-[240px] px-2 md:px-4 w-full md:pl-4 flex items-center justify-between relative z-50">
    <%= link_to root_path, class: "block" do %>
      <svg class="w-10 h-auto" width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
        <ellipse cx="23.5" cy="23.5" rx="23.5" ry="23.5" transform="rotate(-90 23.5 23.5)" fill="#062C65"/>
        <path d="M40.4469 19.0241C42.9803 28.4786 37.3749 38.1951 27.9271 40.7267C18.4793 43.2582 8.76665 37.6461 6.23333 28.1916C3.70001 18.7371 14.2728 27.5594 23.7206 25.0279C33.1684 22.4963 37.9136 9.56963 40.4469 19.0241Z" fill="url(#retriever_logo)"/>
        <defs>
          <linearGradient id="retriever_logo" x1="40.7642" y1="26.0428" x2="0.251682" y2="36.7829" gradientUnits="userSpaceOnUse">
            <stop stop-color="#0D6EFD"/>
            <stop offset="1" stop-color="#031633"/>
          </linearGradient>
        </defs>
      </svg>
    <% end %>
  </div>

  <form action="#" class="flex-1 pr-6 max-w-lg mr-auto md:block hidden">
    <div class="relative">
      <input type="text" placeholder="Search"
        class="form-input pl-10 peer shadow-none bg-gray-200/60 border-transparent focus:border focus:bg-white dark:bg-gray-900 dark:focus:border-gray-700/80 dark:focus:bg-gray-800">
      <span class="absolute left-3 top-[9px] text-gray-400/80 peer-focus:text-primary-500">
        <%= icon "magnifying-glass", class: "size-5" %>
      </span>
      <span class="absolute right-3 font-medium top-[9px] text-gray-400/80 text-sm">⌘+K</span>
    </div>
  </form>

  <div class="flex items-center gap-1 relative z-50">
    <%= link_to rui_changelog_path, class: "rounded-lg md:w-10 md:h-10 w-12 h-12 border-gray-300 border flex items-center justify-center focus:border-gray-400/80 focus:ring-4 focus:ring-gray-100 hover:border-gray-400/60 border-transparent dark:focus:ring-gray-700 dark:focus:border-gray-400" do %>
      <%= icon "bolt", class: "text-gray-500 md:w-5 md:h-5 size-6 group-hover:text-gray-600 dark:group-hover:text-gray-300 dark:text-gray-400 stroke-current" %>
    <% end %>

    <%= link_to rui_support_path, class: "rounded-lg md:w-10 md:h-10 w-12 h-12 border-gray-300 border flex items-center justify-center focus:border-gray-400/80 focus:ring-4 focus:ring-gray-100 hover:border-gray-400/60 border-transparent dark:focus:ring-gray-700 dark:focus:border-gray-400" do %>
      <%= icon "lifebuoy", class: "text-gray-500 md:w-5 md:h-5 size-6 group-hover:text-gray-600 dark:group-hover:text-gray-300 dark:text-gray-400 stroke-current" %>
    <% end %>

    <%= render "rui/shared/notifications" %>
  </div>

  <button
    class="md:hidden block focus:ring-4 focus:ring-primary-500/10 py-1 px-1.5 rounded-md bg-white border border-gray-300 focus:border-primary-500/60 dark:bg-gray-800 dark:focus:ring-gray-600/20 dark:focus:border-gray-500 dark:border-gray-500/80 dark:shadow shadow-xs group relative z-50"
    type="button" aria-expanded="false" aria-label="Toggle navigation" data-action="click->railsui-toggle#toggle">
    <%= icon "bars-3-bottom-left", class: "size-7 text-gray-700 focus:text-gray-800 dark:text-gray-300
    dark:focus:text-gray-500 group-focus:text-primary-500 dark:group-focus:text-white" %>
  </button>

  <div class="pr-4 md:block hidden relative" data-controller="railsui-dropdown">
    <button type="button" data-action="click->railsui-dropdown#toggle click@window->railsui-dropdown#hide"
      class="flex gap-2 items-center rounded transition ease-in-out duration-200 group">
      <div class="relative">
        <%= image_tag demo_avatar_url(variant: "women", id: "24"), class: "size-9 rounded-full group-hover:ring-2 group-hover:ring-primary-500", alt: "Jane Smith" %>
        <span class="sr-only">Jane Smith</span>
      </div>
    </button>
    <ul class="origin-top-right top-12 right-4 text-[15px] dropdown-menu" data-railsui-dropdown-target="menu"
    class="hidden origin-top-right top-12 right-4 text-[15px]"
    data-transition-enter-active="transition ease-out duration-50"
    data-transition-enter-from="transform opacity-0 scale-95"
    data-transition-enter-to="transform opacity-100 scale-100"
    data-transition-leave-active="transition ease-in duration-100"
    data-transition-leave-from="transform opacity-100 scale-100"
    data-transition-leave-to="transform opacity-0 scale-95">
      <li>
        <%= link_to "My apps", rui_apps_path, class: "dropdown-item" %>
      </li>

      <li>
        <%= link_to "Account", rui_settings_path, class: "dropdown-item" %>
      </li>

      <li>
        <%= link_to "Team", rui_settings_team_path, class: "dropdown-item" %>
      </li>
      <li>
        <%= button_to "Sign out", "#", method: :delete, class: "dropdown-item" %>
      </li>
    </ul>
  </div>
</header>
