<%# locals: (nav_link_class:, display_name:, link_path:, icon:) %>
<li class="relative md:w-auto w-full">
  <% if current_page?(link_path) %>
    <span class="w-1 bg-primary-600 h-12 absolute -left-4 top-0 z-10 rounded-r"></span>
    <%= nav_link_to(link_path, class: "#{nav_link_class} nav-link-active flex items-center gap-2 group") do %>
      <%= icon icon, class: "size-6 text-primary-600 hover:text-primary-700 group-hover:text-primary-700 dark:text-primary-500" %>
      <span><%= display_name.titleize %></span>
    <% end %>
  <% else %>
    <%= nav_link_to(link_path, class: "#{nav_link_class} flex items-center gap-2 group") do %>
      <%= icon icon, class: "size-6 text-gray-600 hover:text-gray-700 group-hover:text-primary-600 dark:text-gray-400" %>
      <span><%= display_name.titleize %></span>
    <% end %>
  <% end %>
</li>
