<h1 class="md:h1 h2 mb-6">Changelog</h1>

<div class="max-w-3xl">
  <ul class="divide-gray-200/80 divide-y dark:divide-gray-700/80">
    <% [
      {
        title: "Fixed rendering issue",
        content: "Resolve a bug causing incorrect rendering on certain devices.",
        label: "Bugfix",
        time: "May 24, 2024"
      },
      {
        title: "Authentication error patch",
        content: "Addressed a bug that was causing authentication errors for some users.",
        label: "Bugfix",
        time: "May 24, 2024"
      },
      {
        title: "Performance optimization",
        content: "Implemented optimizations to improve overall application performance.",
        label: "Enhancement",
        time: "April 20, 2024"
      },
      {
        title: "Security patch",
        content: "Patched a security vulnerability related to user authentication.",
        label: "Security",
        time: "April 1, 2024"
      },
      {
        title: "UI enhancements",
        content: "Added subtle UI improvements for a better user experience.",
        label: "Enhancement",
        time: "March 25, 2024"
      },
      {
        title: "Version 2.0 Release",
        content: "Exciting new features, improved performance, and bug fixes in this major release!",
        label: "Release",
        time: "March 1, 2024"
      }].each do |log| %>

      <li class="py-6">
        <% if log[:label] == "Enhancement" %>
          <div class="bg-sky-500/10 text-sky-600 inline-block text-xs rounded px-1 py-0.5 font-medium dark:text-sky-300 dark:bg-sky-500/25">Enhancement</div>
        <% elsif log[:label] == "Bugfix" %>
          <div class="bg-orange-500/10 text-orange-600 inline-block text-xs rounded px-1 py-0.5 font-medium dark:bg-orange-500/25 dark:text-orange-300">Bugfix</div>
        <% elsif log[:label] == "Release" %>
          <div class="bg-primary-500/10 text-primary-600 inline-block text-xs rounded px-1 py-0.5 font-medium dark:bg-primary-500/25 dark:text-primary-300">Release</div>
        <% elsif log[:label] == "Security" %>
          <div class="bg-rose-500/10 text-rose-600 inline-block text-xs rounded px-1 py-0.5 font-medium dark:bg-rose-500/25 dark:text-rose-300">Security</div>
        <% end %>
        <%= link_to rui_changelog_detail_path do %>
          <h3 class="h5 mt-3"><%= log[:title] %></h3>
        <% end %>
        <div class="prose prose-gray dark:prose-invert mb-2">
          <p><%= log[:content] %></p>
        </div>

        <time class="text-sm text-gray-600 dark:text-gray-400" datetime=""><%= log[:time] %></time>
      </li>
    <% end %>
  </ul>

  <%= render "rui/shared/pagination" %>
</div>
