<div data-controller="pricing">
  <div class="text-center pt-16 pb-3">
    <h1 class="md:display-4 display-5 mb-1">Simple transparent pricing</h1>
    <div class="prose prose-gray prose-lg mx-auto dark:prose-invert my-6">
      <p>Pricing without hidden fees or surprises. We believe in simplicity, making it easy for you to understand and choose the right plan for your needs.</p>
    </div>
  </div>

  <div class="relative z-10">
    <div class="flex items-center justify-center mb-6">
      <div class="bg-gray-100/80 p-1 rounded shadow-gray-400/20 dark:bg-gray-900">
        <div class="flex items-center justify-center gap-1" role="group" aria-label="Pricing toggle">
          <button type="button" class="btn btn-white" data-action="click->pricing#toggle"
            data-pricing-target="monthBtn">Monthly</button>
          <button type="button" class="btn border border-transparent hover:btn-white" data-action="click->pricing#toggle"
            data-pricing-target="annualBtn">Annual</button>
        </div>
      </div>
    </div>
    <div class="hidden relative animate-fadeIn" data-pricing-target="promotion">
      <div class="flex justify-center justify-center">
        <span class="rounded-full bg-primary-50 px-3 py-1 text-sm text-primary-600 dark:bg-primary-500/10 dark:text-primary-400">Get <span class="font-semibold">2 months free</span> with annual plans!</span>
      </div>
    </div>
  </div>

  <div class="md:w-[1100px] w-full h-[680px] bg-gradient-to-br from-primary-500/10 via-fuchsia-400/5 to-secondary-500/10 blur-2xl absolute left-0 top-0 opacity-20 z-0"></div>

  <div class="max-w-6xl mx-auto px-4 md:py-16 py-0">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-0 md:divide-x divide-y md:divide-y-0 divide-gray-300/70 dark:divide-gray-700/80">
      <div class="md:p-8 py-8">
        <h4 class="h3 text-secondary-500 dark:text-secondary-200">Freelancer</h4>
        <p class="text-gray-700 mb-6 mt-3 dark:text-gray-100"><span class="font-extrabold text-4xl tracking-tight" data-pricing-target="price" data-month="$29" data-year="$290">$29</span><span data-pricing-target="interval">/month</span></p>
        <p class="text-[15px]">The essentials to get you started</p>

        <ul class="mt-4">
          <li class="flex items-start py-2 gap-2">
            <%= icon "check", class: "size-5 stroke-current text-secondary-400" %>
            <p class="text-[15px]">Essentials to kickstart your projects</p>
          </li>

          <li class="flex items-start py-2 gap-2">
            <%= icon "check", class: "size-5 stroke-current text-secondary-400" %>
            <p class="text-[15px]">Unlimited bandwidth and storage</p>
          </li>

          <li class="flex items-start py-2 gap-2">
            <%= icon "check", class: "size-5 stroke-current text-secondary-400" %>
            <p class="text-[15px]">24/7 customer support</p>
          </li>

          <li class="flex items-start py-2 gap-2">
            <%= icon "check", class: "size-5 stroke-current text-secondary-400" %>
            <p class="text-[15px]">Secure and reliable hosting</p>
          </li>

          <li class="flex items-start py-2 gap-2">
            <%= icon "check", class: "size-5 stroke-current text-secondary-400" %>
            <p class="text-[15px]">Weekly backups for peace of mind</p>
          </li>
        </ul>

        <%= link_to "Get started", "#", class: "btn btn-secondary w-full mt-4 text-center" %>
      </div>
      <div class="md:p-8 py-8 relative">
        <div class="dark:bg-primary-600/30 dark:text-primary-300 bg-primary-500 text-white inline-block py-1 px-3 rounded-full absolute md:top-4 md:right-4 top-6 right-0 text-sm font-medium">Most popular</div>

        <h4 class="h3 text-primary-500 dark:text-primary-400">Professional</h4>
        <p class="text-gray-700 mb-6 mt-3 dark:text-gray-100"><span class="font-extrabold text-4xl tracking-tight" data-pricing-target="price" data-month="$99" data-year="$990">$99</span><span data-pricing-target="interval">/month</span></p>
        <p class="text-[15px]">The plan that packs a punch without breaking the bank.</p>

        <ul class="mt-3">
          <li class="flex items-start py-2 gap-2">
            <%= icon "check", class: "size-5 stroke-current text-primary-500" %>
            <p class="text-[15px]">Essentials to kickstart your projects</p>
          </li>

          <li class="flex items-start py-2 gap-2">
            <%= icon "check", class: "size-5 stroke-current text-primary-500" %>
            <p class="text-[15px]">Unlimited bandwidth and storage</p>
          </li>

          <li class="flex items-start py-2 gap-2">
            <%= icon "check", class: "size-5 stroke-current text-primary-500" %>
            <p class="text-[15px]">24/7 customer support</p>
          </li>

          <li class="flex items-start py-2 gap-2">
            <%= icon "check", class: "size-5 stroke-current text-primary-500" %>
            <p class="text-[15px]">Secure and reliable hosting</p>
          </li>

           <li class="flex items-start py-2 gap-2">
            <%= icon "check", class: "size-5 stroke-current text-primary-500" %>
            <p class="text-[15px]">Weekly backups for peace of mind</p>
          </li>
        </ul>

        <%= link_to "Get started", "#", class: "btn btn-primary w-full mt-4 text-center" %>
      </div>

      <div class="md:p-8 py-8">
        <h4 class="h3 text-gray-900 dark:text-gray-100">Custom</h4>
        <p class="text-gray-800 dark:text-gray-300 mb-3 mt-3 text-[15px]">A tailor fit plan for those that require more control.</p>

        <ul class="list-unstyled mt-4">
          <li class="flex items-start py-2 gap-2">
            <%= icon "check", class: "size-5 stroke-current text-gray-900 dark:text-gray-200" %>
            <p class="text-[15px]">Ideal for those requiring advanced control</p>
          </li>

          <li class="flex items-start py-2 gap-2">
            <%= icon "check", class: "size-5 stroke-current text-gray-900 dark:text-gray-200" %>
            <p class="text-[15px]">Dedicated account manager</p>
          </li>

          <li class="flex items-start py-2 gap-2">
            <%= icon "check", class: "size-5 stroke-current text-gray-900 dark:text-gray-200" %>
            <p class="text-[15px]">High-performance servers</p>
          </li>

          <li class="flex items-start py-2 gap-2">
            <%= icon "check", class: "size-5 stroke-current text-gray-900 dark:text-gray-200" %>
            <p class="text-[15px]">Custom SLA (Service Level Agreement)</p>
          </li>

          <li class="flex items-start py-2 gap-2">
            <%= icon "check", class: "size-5 stroke-current text-gray-900 dark:text-gray-200" %>
            <p class="text-[15px]">Enterprise-grade security features</p>
          </li>

          <li class="flex items-start py-2 gap-2">
            <%= icon "check", class: "size-5 stroke-current text-gray-900 dark:text-gray-200" %>
            <p class="text-[15px]">Advanced analytics and reporting</p>
          </li>
        </ul>

        <%= mail_to Railsui.config.support_email, "Contact us", class: "btn dark:bg-gray-800 bg-gray-900 border border-transparent hover:bg-gray-950 dark:hover:bg-gray-800/80 w-full mt-4 text-center text-white" %>
      </div>
    </div>
  </div>

  <div class="max-w-4xl px-4 mx-auto py-16">
    <h2 class="md:display-6 h2 mb-6">Frequently asked questions</h2>

    <div class="divide-y divide-gray-200/80 dark:divide-gray-700/80">
      <%= render "rui/shared/faq", question: "What is hosting, and why do I need it?" do %>
        <p>Hosting is a service that allows you to make your website or application accessible on the internet. It provides the infrastructure and resources necessary to store and deliver your website's content to users worldwide.</p>
      <% end %>

      <%= render "rui/shared/faq", question: "How does your pricing model work?" do %>
        <p>Our pricing is based on the hosting plan you choose, which determines the features, resources, and level of support you receive.</p>
        <p>Plans are typically tiered to accommodate different needs, from basic websites to high-traffic applications.</p>
      <% end %>

      <%= render "rui/shared/faq", question: "What factors should I consider when choosing a hosting plan?" do %>
        <p>Consider your website's traffic, storage requirements, technical expertise, and the level of support you need.</p>
        <p>Our plans are designed to cater to freelancers, professionals, and enterprises, offering scalability and tailored features.</p>
      <% end %>

      <%= render "rui/shared/faq", question: "Do your hosting plans include domain registration?" do %>
        <p>Some of our plans may include a free domain registration or a discounted rate. Please check the details of each plan to see if domain registration is included.</p>
      <% end %>

      <%= render "rui/shared/faq", question: "Is there a trial period for your hosting services?" do %>
        <p>Yes, we offer a trial period for our hosting services. It's a great opportunity to explore our features and assess how well our platform meets your needs.</p>
      <% end %>

      <%= render "rui/shared/faq", question: "Can I upgrade or downgrade my hosting plan?" do %>
        <p>Yes, you can easily upgrade or downgrade your hosting plan based on your changing requirements. Our platform is flexible, allowing you to scale resources as needed.</p>
      <% end %>

      <%= render "rui/shared/faq", question: "What security measures are in place to protect my website?" do %>
        <p>We prioritize the security of your website. Our hosting plans include features such as SSL certificates, regular backups, and robust firewall protection to keep your data safe from potential threats.</p>
      <% end %>

      <%= render "rui/shared/faq", question: "Are there any additional fees not mentioned in the pricing plans?" do %>
        <p>Our pricing plans are transparent, and we strive to include all relevant fees. However, it's essential to review the plan details to ensure you're aware of any additional costs for specific services or resources.</p>
      <% end %>

      <%= render "rui/shared/faq", question: "Do you provide customer support, and how can I reach you?" do %>
        <p>Yes, we offer 24/7 customer support through various channels, including live chat, email, and phone. Our support team is ready to assist you with any hosting-related inquiries or issues.</p>
      <% end %>

      <%= render "rui/shared/faq", question: "Can I cancel my hosting plan at any time?" do %>
        <p>Yes, you can cancel your hosting plan at any time. Keep in mind that some plans may have specific terms regarding refunds or cancellation fees, so it's advisable to review the terms of your chosen plan.</p>
      <% end %>
    </div>
  </div>

  <%= render "rui/shared/footer" %>
</div>
