<div class="bg-gradient-to-br from-primary-600 to-primary-700 md:py-16 rounded-lg px-4 md:px-16 py-6 border-b border-gray-300/70 relative overflow-hidden dark:border-none shadow-lg">
    <div class="absolute w-full h-full bg-gradient-to-br from-primary-500/80 via-teal-500/50 to-pink-500/50 inset-0 blur-3xl opacity-60"></div>
  <div class="max-w-5xl mx-auto relative z-40">
    <div class="flex items-center gap-2 mb-6">
      <%= icon "lifebuoy", class: "size-5 stroke-current text-white/70" %>
      <p class="text-white/90 font-medium">Support</p>
    </div>

    <h1 class="md:text-7xl text-5xl font-semibold tracking-tight text-white mb-6 text-transparent bg-clip-text bg-gradient-to-t from-primary-100/80 to-white">How can we help?</h1>

    <form action="#" class="block max-w-lg">
      <div class="flex items-center relative">
        <%= icon "magnifying-glass", class: "size-5 stroke-current text-white/70 absolute left-3" %>
        <input type="text" class="w-full border-t-0 border-x-0 block text-white pl-10 text-lg py-2.5 bg-transparent border-white/25 border-b focus:border-white/75 focus:outline-none focus:ring-transparent placeholder:text-white/80" placeholder="Start typing">
      </div>
    </form>

    <div class="grid grid-cols-2 md:grid-cols-4 md:mt-10 mt-8 md:gap-6 gap-4 relative z-40">

      <%= link_to "#", class: "bg-white/10 border-white/10 rounded-lg shadow-xs shadow-primary-500/10 p-6 text-center flex flex-col items-center justify-center hover:shadow-lg transition ease-in-out duration-200 hover:shadow-primary-800/20 border hover:border-primary-400/70 focus:ring-4 focus:ring-primary-700 text-white group" do %>
        <%= icon "power", class: "size-7 stroke-current text-white/75 group-hover:text-white transition duration-200 ease group-hover:transition" %>

        <p class="font-semibold tracking-tight mt-2">Getting started</p>
      <% end %>

      <%= link_to "#", class: "bg-white/10 border-white/10 rounded-lg shadow-xs shadow-primary-500/10 p-6 text-center flex flex-col items-center justify-center hover:shadow-lg transition ease-in-out duration-200 hover:shadow-primary-800/20 border hover:border-primary-400/70 focus:ring-4 focus:ring-primary-700 text-white group" do %>
        <%= icon "banknotes", class: "size-7 stroke-current text-white/75 group-hover:text-white transition duration-200 ease group-hover:transition" %>
        <p class="font-semibold tracking-tight mt-2">Pricing and Plans</p>
      <% end %>

      <%= link_to "#", class: "bg-white/10 border-white/10 rounded-lg shadow-xs shadow-primary-500/10 p-6 text-center flex flex-col items-center justify-center hover:shadow-lg transition ease-in-out duration-200 hover:shadow-primary-800/20 border hover:border-primary-400/70 focus:ring-4 focus:ring-primary-700 text-white group" do %>
        <%= icon "exclamation-circle", class: "size-7 stroke-current text-white/75 group-hover:text-white transition duration-200 ease group-hover:transition" %>
        <p class="font-semibold tracking-tight mt-2">Troubleshooting</p>
      <% end %>

      <%= link_to "#", class: "bg-white/10 border-white/10 rounded-lg shadow-xs shadow-primary-500/10 p-6 text-center flex flex-col items-center justify-center hover:shadow-lg transition ease-in-out duration-200 hover:shadow-primary-800/20 border hover:border-primary-400/70 focus:ring-4 focus:ring-primary-700 text-white group" do %>
        <%= icon "rectangle-group", class: "size-7 stroke-current text-white/75 group-hover:text-white transition duration-200 ease group-hover:transition" %>
        <p class="font-semibold tracking-tight mt-2">Apps</p>
      <% end %>
    </div>
  </div>
</div>

<div class="max-w-5xl mx-auto relative z-40 my-16 grid grid-cols-1 md:grid-cols-12 md:gap-10 gap-8 px-4">
  <div class="col-span-9">
    <article class="prose prose-gray dark:prose-invert prose-headings:tracking-tight prose-headings:font-semibold">
      <h1>Welcome to Retriever Support Hub</h1>

      <p>At Retriever, we're dedicated to ensuring your server-based solutions run seamlessly. Our Support Hub
        is
        your go-to resource for all things Retriever.</p>

      <h2>Why Choose Retriever?</h2>

      <ul>
        <li>Reliable Server Solutions</li>
        <li>Expert Support Team</li>
        <li>Cutting-edge Technology</li>
        <li>Amazing Taco Bars</li>
      </ul>

      <h3>What's Inside</h3>

      <p>🚀 <strong>Quick Start Guides:</strong> Dive into our step-by-step guides to get your servers up and
        running effortlessly.
      </p>

      <p>❓ <strong>FAQs:</strong> Find answers to common queries and gain insights into maximizing your server
        performance.</p>

      <p>🔧 <strong>Troubleshooting Tips:</strong> Encounter an issue? Our troubleshooting tips will guide you
        through resolutions
        efficiently.</p>

      <p>🛟 <strong>24/7 Support Team:</strong>
        Our dedicated support team is just a message away. Whether you have a technical question or need
        personalized
        assistance, we're here to help.</p>

      <p>💬 <strong>Community Forum:</strong>
        Connect with fellow Retriever users, share experiences, and learn from each other in our vibrant
        community
        forum.</p>
    </article>
  </div>
  <aside class="md:col-span-3 md:pt-16">
    <div class="prose prose-sm prose-gray dark:prose-invert mb-6 prose-headings:tracking-tight prose-headings:font-semibold prose-h3:text-lg">
      <h3>Quickstarts</h3>
      <ul>
        <li>
          <a href="#">Getting started</a>
        </li>
        <li>
          <a href="#">Server setup</a>
        </li>
        <li>
          <a href="#">Deployments</a>
        </li>
        <li>
          <a href="#">Domains</a>
        </li>
        <li>
          <a href="#">Apps</a>
        </li>
        <li>
          <a href="#">Contributors</a>
        </li>
      </ul>
    </div>
    <div class="prose prose-sm prose-gray dark:prose-invert prose-headings:tracking-tight prose-headings:font-semibold pb-6 prose-h3:text-lg">
      <h3>Tutorials</h3>
      <ul>
        <li>
          <a href="#">Retriever with Rails</a>
        </li>
        <li>
          <a href="#">Retriever with Laravel</a>
        </li>
        <li>
          <a href="#">Retriever with Django</a>
        </li>
        <li>
          <a href="#">Retriever with Node</a>
        </li>
      </ul>
    </div>
    <div class="prose prose-sm prose-gray dark:prose-invert prose-headings:tracking-tight prose-headings:font-semibold prose-h3:text-lg">
      <h3>Contact</h3>
      <ul>
        <li>
          <a href="#">Email the team</a>
        </li>
        <li>
          <a href="#">Chat with team</a>
        </li>
      </ul>
    </div>
  </aside>
</div>
