<footer class="max-w-7xl mx-auto border-t border-gray-200/80 py-16 px-4 dark:border-gray-700/80">
  <div class="flex md:flex-row flex-col items-start justify-between flex-wrap md:gap-0 gap-6 mb-6">
    <div class="flex-1 md:mb-0 mb-3">
      <%= link_to root_path, class: "block mb-3" do %>
        <%= icon "logo", custom_path: "/railsui/logo.svg" %>
      <% end %>

      <div class="flex items-center mt-2">
        <%= icon "map-pin", class: "size-5 text-gray-600 flex-shrink-0 dark:text-primary-500/60" %>

        <select
          class="border-none appearance-none focus:border-0 focus:outline-0 focus:shadow-none focus:ring-0 md:w-auto w-full bg-transparent text-gray-700 dark:text-gray-300">
          <option value="en" selected>English (United States)</option>
          <option value="es">Espanol</option>
          <option value="fr">French</option>
        </select>
      </div>
    </div>
    <div class="md:w-1/4">
      <h6 class="md:h6 h5">Product</h6>
      <ul class="md:space-y-2 mt-2 leading-loose md:text-base text-lg dark:text-gray-300 text-gray-700">
        <li>
          <%= link_to "Features", "#", class: "hover:underline" %>
        </li>
        <li>
          <%= link_to "Use cases", "#", class: "hover:underline" %>
        </li>
        <li>
          <%= link_to "Pricing", rui_pricing_path, class: "hover:underline" %>
        </li>
        <li>
          <%= link_to "Account", "#", class: "hover:underline" %>
        </li>
      </ul>
      <h6 class="md:h6 h5 mt-6">Developers</h6>
      <ul class="md:space-y-2 mt-2 leading-loose md:text-base text-lg dark:text-gray-300 text-gray-700">
        <li>
          <%= link_to "API Documentation", "#", class: "hover:underline" %>
        </li>
        <li>
          <%= link_to "API Reference", "#", class: "hover:underline" %>
        </li>
        <li>
          <%= link_to "Tooling", "#", class: "hover:underline" %>
        </li>
        <li>
          <%= link_to "Status", "#", class: "hover:underline" %>
        </li>
      </ul>
    </div>
    <div class="md:w-1/4">
      <h6 class="md:h6 h5">Company</h6>
      <ul class="md:space-y-2 mt-2 leading-loose md:text-base text-lg dark:text-gray-300 text-gray-700">
        <li>
          <%= link_to "About", rui_about_path, class: "hover:underline" %>
        </li>
        <li>
          <%= link_to "Careers", "#", class: "hover:underline" %>
        </li>
        <li>
          <%= link_to "Customers", "#", class: "hover:underline" %>
        </li>
        <li>
          <%= link_to "Enterprise", "#", class: "hover:underline" %>
        </li>
        <li>
          <%= link_to "Partners", "#", class: "hover:underline" %>
        </li>
        <li>
          <%= link_to "Blog", "#", class: "hover:underline" %>
        </li>
        <li>
          <%= link_to "Press", "#", class: "hover:underline" %>
        </li>
        <li>
          <%= link_to "Downloads", "#", class: "hover:underline" %>
        </li>
      </ul>
    </div>
    <div class="md:w-1/4">
      <h6 class="md:h6 h5">Resources</h6>
      <ul class="md:space-y-2 mt-2 leading-loose md:text-base text-lg dark:text-gray-300 text-gray-700">
        <li>
          <%= link_to "Support", rui_support_path, class: "hover:underline" %>
        </li>
        <li>
          <%= link_to "Contact", rui_contact_path, class: "hover:underline" %>
        </li>
        <li>
          <%= link_to "Guides", "#", class: "hover:underline" %>
        </li>
        <li>
          <%= link_to "Privacy", rui_privacy_policy_path, class: "hover:underline" %>
        </li>
        <li>
          <%= link_to "Terms", rui_terms_path, class: "hover:underline" %>
        </li>
        <li>
          <%= link_to "Cookie Settings", "#", class: "hover:underline" %>
        </li>
      </ul>
    </div>
  </div>
  <div class="text-gray-500 dark:text-gray-400 mb-6 md:text-right">
    <small>&copy; <%= Date.today.year %> Retriever &ndash; <a href="https://railsui.com" target="_blank"
        class="text-reset"><%= Railsui.config.application_name %></a></small>
  </div>
</footer>
