<nav class="lg:flex items-center justify-between py-3 border-b border-gray-200/80 dark:border-gray-700/80 mb-6">
  <div class="flex items-center justify-between">
    <%= link_to root_path do %>
      <svg class="size-10" width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
        <ellipse cx="23.5" cy="23.5" rx="23.5" ry="23.5" transform="rotate(-90 23.5 23.5)" fill="#062C65"/>
        <path d="M40.4469 19.0241C42.9803 28.4786 37.3749 38.1951 27.9271 40.7267C18.4793 43.2582 8.76665 37.6461 6.23333 28.1916C3.70001 18.7371 14.2728 27.5594 23.7206 25.0279C33.1684 22.4963 37.9136 9.56963 40.4469 19.0241Z" fill="url(#retriever_logo)"/>
        <defs>
          <linearGradient id="retriever_logo" x1="40.7642" y1="26.0428" x2="0.251682" y2="36.7829" gradientUnits="userSpaceOnUse">
            <stop stop-color="#0D6EFD"/>
            <stop offset="1" stop-color="#031633"/>
          </linearGradient>
        </defs>
      </svg>
    <% end %>

    <button type="button" class="lg:hidden block" data-action="click->railsui-toggle#toggle">
      <%= icon "bars-3-bottom-left", class: "size-7 stroke-current text-gray-600/80 dark:text-gray-300/80" %>
    </button>
  </div>

  <div class="lg:flex hidden flex-1 flex-wrap lg:pl-6 orgin-top lg:pt-0 lg:pb-0 lg:pr-0 p-2"
      data-railsui-toggle-target="toggleable"
      data-transition-enter-active="transition ease-out duration-100"
      data-transition-enter-from="transform opacity-0 scale-95"
      data-transition-enter-to="transform opacity-100 scale-100"
      data-transition-leave-active="transition ease-in duration-100"
      data-transition-leave-from="transform opacity-100 scale-100"
      data-transition-leave-to="transform opacity-0 scale-95">

    <ul class="flex lg:flex-row flex-col flex-wrap items-center md:justify-start justify-center flex-1">
      <%= render "rui/shared/nav_links" %>
    </ul>

    <ul class="flex lg:flex-row flex-col flex-wrap items-center justify-start">
      <li class="lg:mt-0 mt-4 flex flex-col items-center relative" data-controller="railsui-dropdown">
        <button class="group" type="button" data-action="click->railsui-dropdown#toggle click@window->railsui-dropdown#hide">
          <%= image_tag demo_avatar_url(variant: "women", id: "24"), class: "rounded-full size-10 object-cover border-2 border-transparent group-hover:border-primary-600 transition duration-300 ease-in-out" %>
        </button>

        <ul class="hidden transition transform origin-to-right lg:absolute lg:right-0 left-0 right-auto lg:left-auto lg:top-10 top-14 z-50 shadow-gray-700/30 dark:shadow-gray-950/30 dropdown-menu"
          data-railsui-dropdown-target="menu"
          data-transition-enter-from="opacity-0 scale-95"
          data-transition-enter-to="opacity-100 scale-100"
          data-transition-leave-from="opacity-100 scale-100"
          data-transition-leave-to="opacity-0 scale-95">

          <li>
            <%= link_to "Edit account", "#", class: "dropdown-item", data: { turbo: false } %>
          </li>

          <li>
            <%= button_to "Sign out", "#", method: :delete, class: "dropdown-item", data: { turbo: false } %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
