<div>
  <%#  Notifications Dropdown %>
  <div class="md:flex justify-end md:flex-1 md:mr-4 mr-3 relative" data-controller="railsui-dropdown">
    <button type="button" class="rounded-lg md:w-10 md:h-10 w-12 h-12 border-gray-300 border flex items-center justify-center focus:border-gray-400/80 focus:ring-4 focus:ring-gray-100 hover:border-gray-400/60 border-transparent dark:focus:ring-gray-700 dark:focus:border-gray-400" data-action="click->railsui-dropdown#toggle click@window->railsui-dropdown#hide">
      <div class="relative">
        <%= icon "bell", class: "text-gray-500 md:w-5 md:h-5 size-6 group-hover:text-gray-600 dark:group-hover:text-gray-300 dark:text-gray-400 stroke-current" %>
        <span class="w-2 h-2 bg-red-500 rounded-full hover:animate-pulse absolute top-0 right-0 z-20 dark:bg-primary-500/95"></span>
      </div>
    </button>
    <div class="origin-to-right absolute mt-2 ml-2 md:ml-0 md:mt-0 md:shadow-xl w-[350px] md:w-[360px] divide-y divide-gray-300/70 text-left dark:divide-gray-700 hidden transition transform origin-top-right md:right-0 -right-12 md:top-12 top-14 bg-white rounded-lg shadow-xl shadow-gray-900/10 border border-gray-300/70 z-50 py-2 dark:bg-gray-900 dark:shadow-gray-900/50 dark:border-gray-500/60 md:text-sm text-base font-medium text-gray-600 dark:text-gray-200 pb-0 dropdown-menu" data-railsui-dropdown-target="menu" data-transition-enter-from="opacity-0 scale-95" data-transition-enter-to="opacity-100 scale-100" data-transition-leave-from="opacity-100 scale-100" data-transition-leave-to="opacity-0 scale-95">
      <div class="px-4 py-3 md:py-2 flex items-center justify-between group">
        <div class="flex-1">
          <div class="flex items-start space-x-2">
            <%= image_tag demo_avatar_url(variant: "men", id: "10"), class: "size-6 object-cover rounded-full flex-shrink-0 mt-1" %>
            <div class="flex-1">
              <p class="truncate">John D. replied to <%= link_to "your comment", "#", class: "underline text-primary-600 hover:text-primary-700 dark:text-primary-500 dark:hover:text-primary-400" %></p>
              <p class="text-xs text-gray-500 dark:text-gray-400">Just now</p>
            </div>
          </div>
        </div>
        <button class="opacity-0 group-hover:opacity-100 transition ease-in-out duration-300 flex items-center justify-center rounded-full w-7 h-7 hover:bg-gray-50/50 group border border-gray-200 hover:border-gray-300 focus:ring-4 focus:ring-gray-100/75 bg-white/50 dark:bg-gray-700/75 dark:focus:ring-gray-100/10 dark:border-gray-600 dark:hover:bg-white/20">
          <%= icon "x-mark", class: "size-3 text-gray-600 group-hover:text-primary-600 dark:group-hover:text-gray-100 dark:text-gray-50 stroke-current" %>
        </button>
      </div>
      <div class="px-4 py-3 md:py-2 flex items-center justify-between group">
        <div class="flex-1">
          <div class="flex items-start space-x-2">
            <%= image_tag demo_avatar_url(id: "14", variant: "women"), alt: "Avatar", class: "size-6 object-cover rounded-full flex-shrink-0 mt-1" %>
            <div class="flex-1">
              <p>Jane D. posted <%= link_to "an update", "#", class: "underline text-primary-600 hover:text-primary-700 dark:text-primary-500 dark:hover:text-primary-400" %></p>
              <p class="text-xs text-gray-500 dark:text-gray-400">15 mins ago</p>
            </div>
          </div>
        </div>
        <button class="opacity-0 group-hover:opacity-100 transition ease-in-out duration-300 flex items-center justify-center rounded-full w-7 h-7 hover:bg-gray-50/50 group border border-gray-200 hover:border-gray-300 focus:ring-4 focus:ring-gray-100/75 bg-white/50 dark:bg-gray-700/75 dark:focus:ring-gray-100/10 dark:border-gray-600 dark:hover:bg-white/20">
          <%= icon "x-mark", class: "size-3 text-gray-600 group-hover:text-primary-600 dark:group-hover:text-gray-100 dark:text-gray-50 stroke-current" %>
        </button>
      </div>
      <div class="px-4 py-3 md:py-2 flex items-center justify-between group">
        <div class="flex-1">
          <div class="flex items-start space-x-2">
            <%= image_tag demo_avatar_url(id: "24", variant: "men"), alt: "Avatar", class: "size-6 object-cover rounded-full flex-shrink-0 mt-1" %>
            <div class="flex-1">
              <p>Scotty P. shared <%= link_to "a repository", "#", class: "underline text-primary-600 hover:text-primary-700 dark:text-primary-500 dark:hover:text-primary-400" %></p>
              <p class="text-xs text-gray-500 dark:text-gray-400">2 hours ago</p>
            </div>
          </div>
        </div>
        <button class="opacity-0 group-hover:opacity-100 transition ease-in-out duration-300 flex items-center justify-center rounded-full w-7 h-7 hover:bg-gray-50/50 group border border-gray-200 hover:border-gray-300 focus:ring-4 focus:ring-gray-100/75 bg-white/50 dark:bg-gray-700/75 dark:focus:ring-gray-100/10 dark:border-gray-600 dark:hover:bg-white/20">
          <%= icon "x-mark", class: "size-3 text-gray-600 group-hover:text-primary-600 dark:group-hover:text-gray-100 dark:text-gray-50 stroke-current" %>
        </button>
      </div>
      <div>
        <%= link_to rui_notifications_path, class: "flex items-center justify-between group px-4 pt-3 pb-2 hover:text-primary-500 text-sm group text-gray-500 dark:text-gray-200 dark:hover:bg-gray-800 dark:hover:text-white font-heading font-normal" do %>
          <span>View all notifications</span>
          <%= icon "chevron-right", class: "group-hover:translate-x-1 transform transition ease-in-out size-4 text-gray-400 group-hover:text-primary-500 dark:group-hover:text-primary-200 stroke-current" %>
        <% end %>
      </div>
    </div>
  </div>
  <%# end Notifications Dropdown %>
</div>
